*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI","Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans","Helvetica Neue", sans-serif;
}

a, a:active, a:visited{
    text-decoration: none;
    color: blue;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

body{
    background: transparent;
    height: 100%;
    overflow: hidden;
}

#title{
    width: 100%;
    height: 100%;
}

#image{
    width: 100%;
    height: auto;
}

#word-div{
    background: transparent;
    width: 40%;
    height: auto;
    position: absolute;
    top: 45vmin;
    left: 5vw;
}

#word-div>h1{
    display: table;
    background: black;
    color: white;
    font-size: 4vmax;
    padding: 1% 2.5%;
    margin-bottom: 2.5%;
}

#word-div>h3{
    display: table;
    background: black;
    color: white;
    font-size: 2vmax;
    padding: 1% 2.5%;
    margin-bottom: 2.5%;
    margin-left: 1%;
}

#word-div>p{
    display: table;
    background: black;
    color: white;
    font-size: 2vmax;
    padding: 1% 2.5%;
}

#img-caption{
    color: white;
    font-size: 1vmax;
    transform: rotate(90deg);
    transform-origin: 90% 0;
    position: absolute;
    top: 90vmin;
    right: 0;
}

#tribute-info>*{
    display: none;
}

.menu-icon{
    position: absolute;
    top: 15%;
    left: 90%;
    width: 37px;
    height: 5px;
    background: white;
    cursor: pointer;
    transition: 0.25s ease-out;
}

.menu-icon::before{
    content: "";
    position: absolute;
    top: 10px;
    display: block;
    width: 35px;
    height: 5px;
    background: white;
}

.menu-icon::after{
    content: "";
    position: absolute;
    top: 20px;
    display: block;
    width: 35px;
    height: 5px;
    background: white;
} 

.menu-icon:hover, .menu-icon:hover::after, .menu-icon:hover::before{
    background: black;
    transition: 0.25s ease-in;
}

.more-info{
    position: absolute;
    top: 0;
    left: 62.5%;
    width: 32.5vw;
    height: 100%;
    background: white;
    transition: 0.25s ease-in;
}

.cancel-icon{
    position: absolute;
    top: 10%;
    left: 90%;
}

.cancel-icon::before{
    content: "";
    position: absolute;
    width: 35px;
    height: 5px;
    transform: rotate(45deg);
    background: black;
    cursor: pointer;
}

.cancel-icon::after{
    content: "";
    position: absolute;
    width: 35px;
    height: 5px;
    transform: rotate(-45deg);
    background: black;
    cursor: pointer;
}

.bio-links{
    display: block !important;
    font-size: 2.5vmax;
    position:absolute;
    top: 0;
    right: 7.5%;
    cursor: pointer;
}

#tribute-info>h3:nth-child(1).bio-links{
    top: 25%;
}

#tribute-info>h3:nth-child(3).bio-links{
    top: 35%;
}

#tribute-info>h3:nth-child(5).bio-links{
    top: 45%;
}

#tribute-info>h3:nth-child(7).bio-links{
    top: 55%;
}

#tribute-info>h3:nth-child(9).bio-links{
    top: 65%;
}

#tribute-info>h3:nth-child(1).bio-links:hover, #tribute-info>h3:nth-child(3).bio-links:hover, #tribute-info>h3:nth-child(5).bio-links:hover, #tribute-info>h3:nth-child(7).bio-links:hover,#tribute-info>h3:nth-child(9).bio-links:hover{
    border-bottom: 0.5vmax solid yellow;
}

.bio-info{
    position: absolute;
    top: 25% !important;
    left: 65%;
    opacity: 0.75;
    padding-bottom: 10px;;
    border-bottom: 0.5vmax solid yellow;
    transition: top 0.5s ease-in;
}

.sub-bio-links{
    display: block !important;
    font-size: 1.25vmax;
    position: absolute;
    top: 85% !important;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.25s ease-in;
}

#tribute-info>h3:nth-child(1).sub-bio-links{
    left: 65%;
}

#tribute-info>h3:nth-child(3).sub-bio-links{
    left: 71.5%;
}

#tribute-info>h3:nth-child(5).sub-bio-links{
    left: 78.4%;
}

#tribute-info>h3:nth-child(7).sub-bio-links{
    left: 85.8%;
}

#tribute-info>h3:nth-child(9).sub-bio-links{
    left: 89.5%;
}

#tribute-info>h3:nth-child(1).sub-bio-links:hover, #tribute-info>h3:nth-child(3).sub-bio-links:hover, #tribute-info>h3:nth-child(5).sub-bio-links:hover, #tribute-info>h3:nth-child(7).sub-bio-links:hover,#tribute-info>h3:nth-child(9).sub-bio-links:hover{
    opacity: 1;
}

.cur-link-content{
    display: inline-block !important;
    position: absolute;
    top: 37.5%;
    left: 65%;
    width: 25vw;
    height: auto;
    font-size: 0.9em;
    font-style: italic;
    font-weight: bold;
}

.display-read-more{
    display: block !important;
    background: yellow;
    position: absolute;
    top: 70%;
    left: 80%;
    font-size: 0.9em;
    color: blue;
    padding: 1%;
}

@media only screen and (max-width: 1160px){
    body{
        display: none;
    }
}

@media only screen and (max-height: 600px){
    body{
        position: relative;
        height: 100%;
        overflow: scroll;
    }
}