* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

html {
  font-family: "kefa", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  position: relative;
}

/* reuseable element styles start */

h1{
  font-size: calc(1rem + 3vw);
  font-weight: bold;
}

h2{
  font-size: calc(1rem + 2vw);
  font-weight: bold;
}

h3{
  font-size: calc(0.75rem + 1vw);
  font-weight: bold;
}

.eventDescription--white{
  color: #ffffff;
  font-size: calc(0.75rem + 0.5vw);
}

.eventDescription--gunmetal{
  color: #2C3E50;
  font-size: calc(0.75rem + 0.5vw);
}

.eventTitle--white{
  color: #ffffff;
  font-size: calc(0.75rem + 1.5vw);
  font-weight: bold;
}

.eventTitle--gunmetal{
  color: #2C3E50;
  font-size: calc(0.75rem + 1.5vw);
  font-weight: bold;
}

/* reuseable element styles start */


/* navbar styling  starts*/

nav{
  background-image: url("images/navBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  padding-right: 10vw;
/* navbar sticky settings start   */
  position: sticky;
  top: 0;
  z-index: 1000;
/* navbar sticky settings end */
}


nav a{
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  font-size: calc(0.75rem + 0.55vw);
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
}

nav a img {
  height: calc(1.25rem + 1.25vw);
  vertical-align: top;
}

nav a:not(:last-child){
  margin-right: 3rem;
}

nav a:last-child{
  margin-left: 1rem;
  margin-right: 2rem;
}

/* navbar css transform start*/
nav a:nth-child(1), nav a:nth-child(2){
  transition-delay: 0.05s;
  transition-duration: 0.5s;
}

nav a:hover:nth-child(1), nav a:hover:nth-child(2){
  transform: scale(1.25, 1.25);
}

nav a:hover:nth-child(3){
  transform: rotateY(360deg);
  transition-delay: 0.25s;
  transition-duration: 1s;
}
/* navbar css transform end */

/* navbar styling ends */

.container1{
  position: relative;
}

.container1Top{
  position: relative;
  background-image: url("images/containerTopBackground.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%;
}

.box1{
  background-color: #DD2800BF;
  position: absolute;
  top: 5.5%;
  left: 2.75%;
  min-height: 100%;
  width: 45%;
  box-shadow: 0pt 3pt 6pt #00000040;
  text-align: center;
  display: flex;
  padding-top: 3vw;
  padding-bottom: 3vw;
  z-index: 2;
}

.box1 p{
color: #2C3E50;
font-size: calc(1rem + 3vw);
font-weight: bold;
width: 80%;
margin: auto;
display: inline-block;
}

.box1 p::before{
  content: "";
  display: block;
  border-top: calc(0.05rem + 1.25vw) solid #ffffff;
  box-shadow: 0pt 3pt 6pt #00000040;
  width: 15vw;
  margin: auto;
  margin-bottom: 3.5vw;
}

.box1 p::after{
  content: "";
  display: block;
  border-top: calc(0.05rem + 1.25vw) solid #ffffff;
  box-shadow: 0pt 3pt 6pt #00000040;
  width: 7.5vw;
  margin: auto;
  margin-top: 3.5vw;
}

/* image stack over each other on right of container1Top settings start */

.box2 {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 45%;
  margin-left: 52%;
  margin-bottom: 5%;
  margin-top: 3%;
}

.box2 img{
  width: 80%;
}

.box2 img:nth-child(1){
position: absolute;
top: 0%;
left: 0%;
margin-top: -6%;
box-shadow: 0pt 3pt 6pt #00000040;
z-index: 1;
}

.box2 img:nth-child(2){
position: absolute;
top: 0%;
left: 2.5%;
margin-top: -3%;
box-shadow: 0pt 3pt 6pt #00000040;
z-index: 0;
}

.box2 img:nth-child(3){
margin-left: 5%;
box-shadow: 0pt 3pt 6pt #00000040;
}


/* image stack over each other on right of container1Top settings end */

.container1Bottom{
  position: relative;
  background-image: url("images/containerBottomBackground.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 25vw;
}

.box3 {
  background-color: #305A6A;
  position: absolute;
  top: -4%;
  right: 2%;
  box-shadow: 0pt 3pt 6pt #00000040;
  text-align: right;
  padding-top: 3vw;
  padding-bottom: 2vw;
  padding-right: 5.5vw;
  width: 60%;
  z-index: 1;
}

.box3 h1{
  color: #CECECE;
}

.box4{
  display: flex;
}

img[src="images/image2.png"], img[src="images/image3.png"]{
  width: 100%;
  box-shadow: 0pt 3pt 6pt #00000040;
}

.box4LableLeft{
  margin-right: 2vw;
  position: relative;
}

.box4LableLeft div{
  background-color: #ffffff;
  position: absolute;
  top: 95%;
  left: 0%;
  box-shadow: 0pt 3pt 6pt #00000040;
  text-align: left;
  padding-top: 2vw;
  padding-bottom: 1.5vw;
  padding-left: 1.5vw;
  width: 90%;
}

.box4LableLeft>div>h2{
  color: #CECECE;
}

.box4LableRight{
  margin-left: 2vw;
  position: relative;
}

.box4LableRight>div>h2{
  color: #CECECE;
}

.box4LableRight div{
  background-color: #ffffff;
  position: absolute;
  top: 72%;
  right: 0%;
  box-shadow: 0pt 3pt 6pt #00000040;
  text-align: right;
  padding-top: 2vw;
  padding-bottom: 1.5vw;
  padding-right: 1.5vw;
  width: 90%;
}

/* exhibition section styling start */

.exhibition{
position: relative;
padding-top: 2.5%;
padding-bottom: 7.5%;

}

.exhibition>h2{
color: #CECECE;
text-align: center;
margin-bottom: 5%;
}

.exhibition>div{
  display: flex;
  align-items: center;
}

.exhibitionLeft{
  position: relative;
  width: 70%;
  text-align: right;
}

.exhibitionLeft img{
  width: 60vw;
  box-shadow: 0pt 3pt 6pt #00000040;
  margin-bottom: 2%;
  display: inline-block;
}

.exhibitionLeft img:nth-child(1){

}

.exhibitionLeft img:nth-child(2){
  position: absolute;
  top: 2%;
  left: 12%;
  z-index: -1;
}

.exhibitionLeft img:nth-child(3){
  position: absolute;
  top: 4%;
  left: 10%;
  z-index: -2;
}

.exhibitionRight{
margin-left: 5%;
}

.exhibitionRight>div>h2{
  color: #2C3E50;
  font-size: calc(0.5rem + 2vw);
  text-align: left;
}

.exhibitionRight>div>h2::after{
  content: "";
  display: block;
  border-top: calc(0.05rem + 1.25vw) solid #2C3E50;
  box-shadow: 0pt 3pt 6pt #00000040;
  width: 60%;
  margin-top: 3.5vw;
}

.exhibitionRight span{
  display: block;
}

.exhibitionRight>div>span[class="eventDescription--gunmetal"]{
  margin-top: 3.5vw;
}

.exhibitionRight>div>h3{
  margin-top: 3.5vw;
  color: #2C3E50;
}

.exhibitionPagination{
  text-align: right;
  margin-top: 15%;
}

.exhibitionPagination a{
  color: #2C3E50;
  text-decoration: none;
  font-weight: bold;
  font-size: calc(0.5rem + 0.5vw);
}

/* exhibition section styling end */


/* artist section styling start */

.artist{
  background-image: url("images/artistBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding-top: 2%;
  padding-bottom: 10%;
  box-shadow: 0pt 3pt 6pt #00000040;
}

.artist>h2{
  color: #CECECE;
  text-align: center;
  margin-bottom: 5%;
}

.artistProfile{
  display: flex;
}

.artistProfile div{
  position: relative;
}

.artistProfile div img{
  width: 100%;
  height: 100%;
  opacity: 0.9;
  cursor: pointer;
}

.artistProfile div img:hover{
  opacity: 1;
  box-shadow: 0pt 3pt 6pt #00000040;
}

.artistName{
  position: absolute;
  color: #ffffff;
  bottom: 45%;
  right: 0%;
  cursor: pointer;
}

/* artist section styling end */


/* sponsors section styling end */

.sponsors{
  position: relative;
  padding-top: 2%;
  padding-bottom: 2%;
}

.sponsors>h2{
  color: #CECECE;
  text-align: center;
  margin-bottom: 5.5%;
}

.sponsorsLogo{
  /* background-color: #CECECE; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 7.5%;
}

.sponsorsLogo img{
  width: 15%;
}

/* sponsors section styling end */


/* footer section styling start */

footer{
  box-shadow: 0pt -3pt 6pt #00000040;
  background-image: linear-gradient(#232526, #414345);
  text-align: center;
  padding: 10% 0;
}

/* footer section styling end */
