// variables declaration
$font-family: 'Roboto Slab', serif;
$font-family-logo: 'Bree Serif', serif;
$font-size-default: 2.5vmin;
$font-size-logo: 250%;
$font-size-medium: 175%;
$font-size-links: 125%;
$font-size-small: 75%;

$custom-back: #323232;
$custom-grey: #6f6f6f;
$custom-light-grey: #F7F7F7;

// mixins
@mixin nav-link-hover{
    cursor: pointer;
    color: white;
    background: $custom-back;
    transform: scale(1.05);
    transition: all 250ms ease-in;
}

@mixin product-styling{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover img{
        transform: scale(0.98);
        transition: transform 250ms ease-in;
    }

    .product-info{
        visibility: hidden;
        box-sizing: border-box;
        background: $custom-back;
        color: white;
        width: 90%;
        height: 98%;
        position: absolute;
        top: 1%;
        left: 9%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0;

        div{
            position: absolute;
            top: 0;
            left: 40%;
        }

        div>p:nth-child(1){
            font-size: $font-size-medium;
            color: $custom-light-grey;
        }
        div>p:nth-child(2){
            font-size: $font-size-default;
            margin: 0 0 5% 0;
        }
        div>p:nth-child(3){
            font-size: $font-size-links;
            border-top: solid 0.05vmin $custom-grey;
            padding: 0 0 5% 0;
            width: 50%;
            margin: auto;
        }
        div>li{
            cursor: pointer;
            font-size: $font-size-links;
            background: $custom-light-grey;
            color: $custom-back;
            width: 50%;
            margin: auto;
            border-radius: 3%;
            &:hover{
                transform: scale(0.75);
                transition: all 100ms ease-in;
            }
        }

        div>p:nth-child(5){
            cursor: pointer;
            font-size: $font-size-small;
            padding: 5% 0 0 0;
            margin: auto;
        }
    }

    &:hover .product-info{
        visibility: visible;
        opacity: 0.9;
        border-top-left-radius: 2%;
        border-bottom-left-radius: 100%;
        transition: all 250ms ease-in;
        
        div{
            position: absolute;
            top: 20%;
            left: 30%;
            transition: all 500ms ease-in;
        }
    }

}

// reset html 
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: default;
    vertical-align: baseline;
    background: transparent;
}

// body styling
body {
    position: absolute;
    background: url("images/background_sickgallery.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: $font-size-default;
    color: $custom-back;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1.5%;
    // overflow: auto;

    ul, li{
        list-style: none;
    }

    // nav links on hover styling
    .nav-link-major{
        position: relative;
        box-sizing: border-box;
        font-size: $font-size-links;
    }
    .nav-link-major:hover{
        @include nav-link-hover;
        transition: all 250ms ease-in;
    }
    .major-links>ul>div{
        overflow: hidden;
        li:hover{
            transform: scale(0.95);
        }
    }
    .major-links>ul>div:hover{
        @include nav-link-hover;
        position: relative;
        transform: scale(1);
        transition: all 500ms ease-in;
    }
    .nav-link-major-sub{
        position: relative;
        box-sizing: border-box;
        display: none;
        *{
            cursor: pointer;
            padding: 0 0 1% 5%;
        }
        &>p:last-child{
            text-align: right;
        }
    }
    .major-links>ul>div:hover .nav-link-major-sub{
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: $font-size-default;
        background: white;
        color: $custom-back;
        transition: all 250ms ease-in;
        &>p:hover{
            position: relative;
            color: white;
            width: auto;
            background: $custom-grey;
            transition: all 250ms ease-in;
        }
    }

    .left-section{
        position: relative;
        box-sizing: border-box;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 3% 0 0;

        .products-display{
            position: relative;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 95%;

            .grid-container{
                position: relative;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                display: grid;
                grid-gap: 1.5%;
                grid-template-columns: auto auto auto auto;
                overflow: auto;
            }

            .grid-item-1{
                @include product-styling;
                grid-column: 1 / 3;
                grid-row: 1 / 3;
            }

            .grid-item-2{
                @include product-styling;
                grid-column: 3 / 5;
            }

            .grid-item-3{
                @include product-styling;
            }

            .grid-item-4{
                @include product-styling;
            }

            .grid-item-5{
                @include product-styling;
            }

            .grid-item-6{
                @include product-styling;
                grid-column: 2 / 5;
            }

        }
        
        .socials-footer{
            box-sizing: border-box;
            height: 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.5% 0 0 0;
        }
        // hidden popup for nav link info
        .nav-links-info{
            visibility: hidden;
            background: white;
            opacity: 0.9;
            position: absolute;
            top: 0%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: 95%;
            // z-index: -1;
            box-shadow: 2px 1px 10px 2px #999;
            overflow: scroll;

            .nav-links-info-header{
                box-sizing: border-box;
                position: relative;
                display: block;
                width: 100%;
                height: 40%;
                margin: 5%;

                &>div:nth-child(1){
                    box-sizing: border-box;
                    position: fixed;
                    top: 10%;
                    left: 65%;
                    padding: 0 0 0.5% 0.5%;
                    border-left: solid 0.5vmin $custom-back;
                    border-bottom: solid 0.5vmin $custom-back;
                }
                &>div:nth-child(1):hover{
                    cursor: pointer;
                    transform: scale(0.9);
                    border-left: solid 1vmin red;
                    border-bottom: solid 1vmin red;
                    transition: all 100ms ease-in;
                }

                &>div:nth-child(2){
                    font-size: $font-size-logo;
                    margin: 2.5%;
                }
                &>div:nth-child(3){
                    margin: 0 0 0 5%;
                
                    &>div:nth-child(1){
                        font-size: $font-size-medium;
                        margin: 0 0 1% 0;
                    }
                    &>div:nth-child(2){
                        font-size: $font-size-links;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin: 0 0 0 5%;

                        *{
                            margin: 0 10% 0 0;
                        }
                    }
                }
            }

            .nav-links-info-body{
                box-sizing: border-box;
                position: relative;
                display: grid;
                grid-template-columns: auto auto auto;
                width: 100%;
                height: 60%;
                margin: 0 10% 10% 10%;

                .alphabet-index{
                    box-sizing: border-box;
                    position: relative;
                    font-size: $font-size-links;
                    
                    &>p:nth-child(1){
                        border-bottom: solid 1px;
                        width: 10%;
                    }
                }
            }
        }

    }

    .right-section{
        position: relative;
        box-sizing: border-box;
        width: 20%;
        height: 100%;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;

        .right-section-top{
            position: relative;
            box-sizing: border-box;
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;

            .company-header{
                box-sizing: border-box;
                font-family: $font-family-logo;
                font-size: $font-size-logo;
                line-height: 100%;
                border-bottom: solid 1px $custom-back;
                padding: 0 0 5% 0;
                margin: 0 0 5% 0;
            }

            .major-links{
                position: relative;
                box-sizing: border-box;
                font-size: $font-size-links;
            }
        }

        .right-section-bottom{
            position: relative;
            box-sizing: border-box;
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;

            .minor-links{
                position: relative;
                box-sizing: border-box;
                font-size: $font-size-default;
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: right;
                color: $custom-grey;
            }

            .checkout-basket{
                position: relative;
                box-sizing: border-box;
                width: 100%;
                height: 50%;
                text-align: right;
                display: flex;
                flex-direction: column;

                .checkout-basket-header{
                    position: relative;
                    box-sizing: border-box;
                    height: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: $font-size-links;
                    border-top: solid 1px $custom-back;
                    border-bottom: solid 1px $custom-back;
                    padding: 0 0 0 0;

                    *{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: right;
                    }
                }

                .checkout-basket-body{
                    position: relative;
                    box-sizing: border-box;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    text-align: right;
                    font-size: $font-size-default;
                    margin: 2% 0 2% 0;
                    overflow: scroll;
                }

                .checkout-basket-footer{
                    position: relative;
                    box-sizing: border-box;
                    height: 25%;
                    background: $custom-back;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: right;
                    padding: 0;
                }

            }
        }

    }
}